/*

Mobile first = 579px
Tablet = 580px -- 768px
Notebook = 769px -- 1069px
More = 1070px

*/

/* tablet */
@media screen and (min-width:768px) and (max-width:992px) {
    body {
        background-image: linear-gradient(to top, var(--cor-destaque2), var(--cor-contraste));
    }
    #login {
        height: 365px;
        width: 80vw;
    }

    #imagem {
        float: left;
        width: 40%;
        height: 100%;
    }

    #formulario {
        float: right;
        width: 60%;
    }

    #formulario h1 {
        font-size: 1.8em;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.509);
    }

    #formulario p {
        font-size: 1em;
    }

    .campo input {
        font-size: 1.3em;
        transform: translateY(-11px);
    }

    #entrar {
        height: 50px;
    }

    #formulario button {
        height: 50px;
    }
}

/* NOTEBOOK AND MORE */
@media screen and (min-width:993px) {
    body {
        background-image: linear-gradient(to top, var(--cor-destaque2), var(--cor-contraste));
    }

    #login {
        height: 400px;
        width: 900px;
    }

    #imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    #formulario {
        float: left;
        width: 50%;
    }

    #formulario h1 {
        font-size: 2.2em;
    }

    #formulario p {
        font-size: 1.2em;
    }

    .campo span {
        font-size: 2.3em;
    }

    .campo input {
        font-size: 1.5em;
        transform: translateY(-14px);
    }

    #entrar {
        height: 60px;
        font-size: 1.5em;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.529);
        border-radius: 30px;
    }

    #formulario button {
        height: 60px;
        font-size: 1.5em;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.529);
        border-radius: 30px;
    }
}