:root {
    --cor-destaque: #AB2346;
    --cor-contraste: #588B8B;
    --cor-destaque2: #C9F299;
    --cor-extra: #C16200;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    width: 98vw;
    height: 97vh;
    margin: auto;
    background-color: var(--cor-destaque);
    font-size: .8em;
}

.cabecalho {
    background-color: var(--cor-destaque2);
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
}

.cabecalho h1 {
    margin-bottom: 30px;
    font-size: 1.4em;
    text-align: center;
}

.cabecalho ul li {
    list-style: none;
    margin-bottom: 25px;
}

.cabecalho a {
    font-size: 1.2em;
    text-decoration: none;
    color: black;
    padding: 5px;
}

.cabecalho a:hover {
    background-color: var(--cor-contraste);
    transition: background-color .3s;
}

#principal {
    background-color: white;
    margin: 0px 20px;
    padding: 10px;
}

#principal h2 {
    margin-bottom: 15px;
    font-size: 1.4em;
}

.lista {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
    margin: 10px;
}
