:root {
    --cor-destaque: #AB2346;
    --cor-contraste: #588B8B;
    --cor-destaque2: #C9F299;
    --cor-extra: #C16200;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    width: 96vw;
    height: 97vh;
    margin: auto;
    background-color: var(--cor-destaque);
    font-size: .8em;
}

.cabecalho {
    background-color: var(--cor-destaque2);
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
}

.cabecalho h1 {
    margin: 20px 0px;
    font-size: 1.4em;
    text-align: center;
}

.logo {
    display: block;
    width: 150px;
    height: 150px;
    margin: auto;
}

#menubar {
    /* TAMANHO DO ICONE */
    width: 50px;
}

.menu ul {
    display: none;
    flex-direction: column;
    box-sizing: border-box;
}

.menu li {
    background-color: white;
    text-align: center;
    list-style: none;
    margin: 5px 0px;
    padding: 5px;
    border: 2px solid var(--cor-destaque);
    border-radius: 10px;
}

.menu a {
    display: block;
    /* padding: 5px; */
    font-size: 1.2em;
    text-decoration: none;
    color: var(--cor-extra);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);

}

.menu li:hover {
    background-color: var(--cor-contraste);
    border: 2px solid red;
    transition: background-color .3s;
}

.menu a:hover {
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

#principal {
    background-color: white;
    margin: 0px 20px;
    padding: 10px;
    border-radius: 20px;
}

#principal h2 {
    margin-bottom: 15px;
    font-size: 1.4em;
}

.lista {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
    margin: 10px;
}

.rodapé {
    background-color: white;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
}
